<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!---Then import bootstrap. Is a CSS framework that has some built in classes to make it nicer to style 
         your website. --->
    <!--The link below goes to a CDN. A content delivery network and it loads without downloading a bunch of css and javascript files. The one below a css. -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!--Below using jinga which is a template. The syntax below is used to put python code.-->
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <!--Creation of the nav bar with one that you can adjust if on a mobile screen.-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Now define the navigation items on the navbar/collapsable navbar-->
      <div class="collapse navbar-collapse" id="navbar">
        <!--Define the acutal nav bar items. -->
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            {% endif %}
            
        </div>
      </div>

    </nav>

    <!--This will show up in all pages because it is in the base page.-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert" >
            <!--Below we get the variable messsage and create a button to dismiss.-->
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <!--danger to success changes just changes the backgrround color to green-->
        <div class="alert alert-success alter-dismissable fade show" role="alert" >
            <!--Below we get the variable messsage and create a button to dismiss.-->
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!--To actually put content on the screen. Remember that block does not have to be named content/named something else.-->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!--Are going to define a navbar.-->
    <!--First load all of the scripts. Here is Javascript related to bootstrap/css frame.-->
    <!--Images, javascript or css you must put in static folder. Static are things that do not change. -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!--To load them in your html yo do. And two curly brackets is used to write python expression. "url_for" is a python function that loads-->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>



</body>

</html